* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  transition: all 400ms ease;
}

html {
  color: var(--white);
}

body {
  background: var(--black);
  display: grid;
  grid-template-columns: 14rem auto;
  font-size: 0.75rem;
  cursor: default;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1rem;
  text-transform: capitalize;
}

h3 {
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: capitalize;
}

h4 {
  font-size: 0.75rem;
  text-transform: capitalize;
  font-weight: 500;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.625rem;
}

img {
  max-width: 100%;
}

input {
  background: transparent;
  &::placeholder {
    color: var(--white);
    font-size: 0.625rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .handle {
    line-height: 1.2;
    h4{
      text-transform: capitalize;
      letter-spacing: normal;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  width: max-content;
  border-radius: 2rem;
  border: 1px solid var(--grey);
  input {
    min-width: 22vw;
  }
  i {
    font-size: 1.25rem;
    color: var(--grey);
  }
}

.mute {
  color: var(--grey);
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.primary {
  background: var(--primary);
  color: #fff;
}
