:root {
  --dark: hsl(193, 30%, 6%);
  --black: hsl(193, 10%, 6%);
  --primary: hsl(193, 96%, 57%);
  --white: hsl(193, 0%, 100%);
  --grey: hsl(193, 5%, 58%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
  transition: all 500ms ease;
}

html {
  color: var(--white);
}

body {
  background: var(--black);
  display: grid;
  grid-template-columns: 14rem auto;
  font-size: 0.75rem;
  cursor: default;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1rem;
  text-transform: capitalize;
}

h3 {
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: capitalize;
}

h4 {
  font-size: 0.75rem;
  text-transform: capitalize;
  font-weight: 500;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.625rem;
}

img {
  max-width: 100%;
}

input {
  background: transparent;
}
input::-moz-placeholder {
  color: var(--white);
  font-size: 0.625rem;
}
input:-ms-input-placeholder {
  color: var(--white);
  font-size: 0.625rem;
}
input::placeholder {
  color: var(--white);
  font-size: 0.625rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.profile .handle {
  line-height: 1.2;
}
.profile .handle h4 {
  text-transform: capitalize;
  letter-spacing: normal;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2rem;
  border: 1px solid var(--grey);
}
.search input {
  min-width: 22vw;
}
.search i {
  font-size: 1.25rem;
  color: var(--grey);
}

.mute {
  color: var(--grey);
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.primary {
  background: var(--primary);
  color: #fff;
}

aside {
  background: var(--dark);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
aside .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  color: var(--white);
}
aside .logo i {
  color: var(--primary);
  font-size: 1.2rem;
}
aside nav {
  margin: 1rem;
}
aside nav a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 2.5rem;
  margin-bottom: 0.625rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  color: var(--grey);
}
aside nav a.active {
  color: #fff;
  background: var(--primary);
}
aside nav a:not(.active):hover {
  background: hsla(193deg, 4%, 32%, 0.25);
  color: #fff;
}
aside nav a i {
  font-size: 1rem;
}
aside nav .playlists {
  margin-top: 2rem;
}
aside nav .playlists h4 {
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
aside nav .playlists a i:last-child {
  margin-left: auto;
  font-size: 1.25rem;
}

main header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--dark);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
main .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .user span {
  font-size: 1.125rem;
  color: var(--grey);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1.5rem;
  gap: 1rem;
}
.container h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.container .intro {
  grid-column: 1/span 3;
  padding: 3rem 2rem;
  background: url(../img/albums/sos.jpg) center no-repeat;
  background-size: cover;
  border-radius: 1rem;
  min-height: 10rem;
}
.container .intro h1 {
  color: hsl(193deg, 10%, 6%);
}
.container .intro button {
  background: #fff;
  color: var(--primary);
}
.container .intro p {
  margin-bottom: 2rem;
}
.container section {
  grid-column: 1/span 2;
}
.container .albums-container {
  margin-bottom: 1rem;
}
.container .albums-container .albums {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.container .albums-container .albums .album .img {
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: 0.5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0.5rem;
}
.container .albums-container .albums .album .info {
  line-height: 1.2;
  text-align: center;
}
.container .playlist {
  background: var(--dark);
  padding: 1.5rem;
  border-radius: 1rem;
}
.container .playlist h2 {
  margin-bottom: 1rem;
}
.container .playlist table {
  text-align: left;
  border-spacing: 0.75rem;
  width: 100%;
}
.container .playlist table th {
  font-weight: 400;
  color: var(--grey);
}
.container .playlist table tr {
  position: relative;
}
.container .playlist table tr::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: var(--grey);
  left: 0;
  bottom: -0.5rem;
}
.container .playlist table tr.active {
  color: var(--primary);
}
.container .playlist table td {
  padding-right: 1rem;
  padding: 0.5rem 0;
}
.container .playlist table td img {
  width: 2.5rem;
}
.container .player {
  width: 100%;
  background: var(--dark);
  border-radius: 1rem;
}