:root {
  --light: #e8ecef;
  --white: #ffffff;
  --black: #3e465a;
  --grey: #a7b4cc;
  --primary: cornflowerblue;
}

@import 'global';

aside {
  height: 100vh;
  background: var(--light);
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: var(--primary);
    i {
      font-size: 1.125rem;
    }
  }
  nav {
    margin-left: 2rem;
    > div {
      margin-bottom: 2rem;
      > h4 {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--grey);
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 0.75rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 1.5rem;
      color: var(--black);
      position: relative;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      &.active {
        color: var(--primary);
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 3px;
          border-radius: 0.5rem;
          background: var(--primary);
        }
      }
    }
  }
}

main {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 4rem;
    width: 100%;
    > div {
      display: flex;
      gap: 1rem;
    }
    a {
      color: var(--grey);
      h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      &.active {
        color: var(--primary);
      }
    }
    .user {
      display: flex;
      align-items: center;
    }
  }
}
