:root {
  --dark: hsl(193, 30%, 6%);
  --black: hsl(193, 10%, 6%);
  --primary: hsl(193, 96%, 57%);
  --white: hsl(193, 0%, 100%);
  --grey: hsl(193, 5%, 58%);
}

@import 'global';

aside {
  background: var(--dark);
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    color: var(--white);
    i {
      color: var(--primary);
      font-size: 1.2rem;
    }
  }
  nav {
    margin: 1rem;
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      height: 2.5rem;
      margin-bottom: 0.625rem;
      border-radius: 0.5rem;
      text-transform: capitalize;
      color: var(--grey);
      &.active {
        color: #fff;
        background: var(--primary);
      }
      &:not(.active):hover {
        background: hsl(193, 4%, 32%, 0.25);
        color: #fff;
      }
      i {
        font-size: 1rem;
      }
    }
    .playlists {
      margin-top: 2rem;
      h4 {
        margin-bottom: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      a {
        i:last-child {
          margin-left: auto;
          font-size: 1.25rem;
        }
      }
      label{
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

main {
  header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--dark);
    position: sticky;
    top: 0;
    left: 0;
  }
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      font-size: 1.125rem;
      color: var(--grey);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1.5rem;
  gap: 1rem;
  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .intro {
    grid-column: 1 / span 3;
    padding: 3rem 2rem;
    background: url(../img/albums/sos.jpg) center no-repeat;
    background-size: cover;
    border-radius: 1rem;
    min-height: 10rem;
    h1 {
      color: hsl(193, 10%, 6%);
    }
    button {
      background: #fff;
      color: var(--primary);
    }
    p {
      margin-bottom: 2rem;
    }
  }
  section {
    grid-column: 1 / span 2;
  }
  .albums-container {
    margin-bottom: 1rem;
    .albums {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      .album {
        .img {
          object-fit: fill;
          margin-bottom: 0.5rem;
          aspect-ratio: 1/1;
          overflow: hidden;
          border-radius: 0.5rem;
        }
        .info {
          line-height: 1.2;
          text-align: center;
        }
      }
    }
  }
  .playlist {
    background: var(--dark);
    padding: 1.5rem;
    border-radius: 1rem;
    h2 {
      margin-bottom: 1rem;
    }
    table {
      text-align: left;
      border-spacing: 0.75rem;
      width: 100%;
      th {
        font-weight: 400;
        color: var(--grey);
      }
      tr {
        position: relative;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          background: var(--grey);
          left: 0;
          bottom: -0.5rem;
        }
        &.active {
          color: var(--primary);
        }
      }
      td {
        padding-right: 1rem;
        padding: 0.5rem 0;
        img {
          width: 2.5rem;
        }
      }
    }
  }
  .player {
    width: 100%;
    background: var(--dark);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    height: max-content;
    position: relative;
    top: 2rem;
    .song {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
      .img {
        object-fit: fill;
        margin-bottom: 0.5rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        width: 45%;
        border-radius: 0.5rem;
      }
      .info {
        line-height: 1.2;
        text-align: center;
      }
    }
    .lyrics {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      .active {
        color: var(--white);
      }
    }
    .controls{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      .range{
        width: 90%;
        height: 3px;
        border-radius: 2px;
        background: var(--white);
        display: flex;
        align-items: center;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 3px;
          width: 25%;
          height: 100%;
          background: var(--primary);
        }
        span{
          width: 0.75rem;
          height: 0.75rem;
          cursor: pointer;
          border-radius: 50%;
          background: var(--primary);
          display: block;
          position: absolute;
          left: 25%;
        }
      }
      .play{
        display: flex;
        align-items: center;
        gap: 1rem;
        span{
          font-size: 1.3rem;
          color: var(--primary);
          cursor: pointer;
          height: 1.75rem;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &.play-icon{
            background: var(--white);
          }
          &:not(.play-icon):hover{
            background: hsl(193, 4%, 32%, 0.25);
          }
        }
      }
    }
  }
}
