:root {
  --dark: hsl(193, 30%, 6%);
  --black: hsl(193, 10%, 6%);
  --primary: hsl(193, 96%, 57%);
  --white: hsl(193, 0%, 100%);
  --grey: hsl(193, 5%, 58%);
}

@import 'global';

aside {
  background: var(--dark);
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    color: var(--white);
    i {
      color: var(--primary);
      font-size: 1.2rem;
    }
  }
  nav {
    margin: 1rem;
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      height: 2.5rem;
      margin-bottom: 0.625rem;
      border-radius: 0.5rem;
      text-transform: capitalize;
      color: var(--grey);
      &.active {
        color: #fff;
        background: var(--primary);
      }
      &:not(.active):hover {
        background: hsl(193, 4%, 32%, 0.25);
        color: #fff;
      }
      i {
        font-size: 1rem;
      }
    }
    .playlists {
      margin-top: 2rem;
      h4 {
        margin-bottom: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      a {
        i:last-child {
          margin-left: auto;
          font-size: 1.25rem;
        }
      }
    }
  }
}

main {
  header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: var(--dark);
    position: sticky;
    top: 0;
    left: 0;
  }
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      font-size: 1.125rem;
      color: var(--grey);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1.5rem;
  gap: 1rem;
  .player {
    width: 100%;
    background: var(--dark);
  }
  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .intro{
    grid-column: 1 / span 3;
    padding: 2rem;
    p{
      margin-bottom: 2rem;
    }
  }
  section {
    grid-column: 1 / span 2;
  }
  .albums-container {
    .albums {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      .album {
        .img {
          object-fit: fill;
          margin-bottom: 0.5rem;
        }
        .info{
          line-height: 1.2;
          text-align: center;
        }
      }
    }
  }
}
